<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
<p>-------------------------</p>
<p>content: <%= review.content %></p>
<p>rating: <%= review.rating %></p>
<% end %>

<%= link_to "Make a New Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to the lists", restaurants_path %>
